.form-container
{
    width:300px;
    margin:0 auto;
}
.page-title
{
    text-align: center;
}
.main
{
    background: #fff;
    width:750px;
    margin:0 auto;
    overflow:hidden;
    padding:10px;
}