{% extends 'base.html' %}
{% block title %} 登录 {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}
<div class="main">
    {% block main %}
    <h3 class="page-title">修改商品信息</h3>
    <from action="" method="POST">
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-container">
                {{ form.id.label }}
                <p>{{form.id}}</p>


                {{ form.name.label }}
                <p>{{form.name}}</p>

                {{ form.unit_price.label }}
                <p>{{form.unit_price}}</p>


                {{ form.number.label }}
                <p>{{form.number}}</p>

                {{ form.description.label }}
                <p>{{form.description}}</p>
                {{ form.image.label }}
                <p>{{form.image}}</p>


                {{ form.submit }}
            </div>
        </form>
        <hr/>
    </from>
    {% endblock %}
</div>


